/* 
reset
 */

*{
    margin: 0;
    padding: ;
    box-sizing: border-box;
    font-family: "Fredoka", sans-serif;
}



 /* 
 general
  */

  body{
    background-color: rgb(236, 118, 21);
  }

  .coontainer{
    max-width: 1000px;
    margin: auto;
    background-color: white;
  }

  
  /* 
  header
   */

   header{
    text-align: center;
    padding-top: 20px;
   }

    h1{
    color: #E53170;
    padding-bottom: 40px;
   }

   header > p{
    padding-bottom: 20px;
   }

   /* 
   main 
   */

   .clearfix::after{
    content: '';
    clear: both;
    display: table;
   }

   .card{
    background-color:#0F0E17;
    width: calc(100% /3 - 40px) ;
    height: 88px;
    float: left;
    margin: 20px;
   }

   .card > img{
    width: 30%;
    float: left;
   }

   .card-right{
    float: left;
    text-align: left;
    color: white;
    padding: 18px;
   }

   .card-right > h2{
    font-size: 18px;
   }

 .card-right > a{
    font-size: small;
    color: #0075D5;
 }

   

